body{
  background-color: black;
  color: white;
}

.mainnav{
  list-style: none;
  color: purple;
  text-decoration: none;
  font-size: 21px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  margin-right: 6%;
  margin-left: 6.5%;
}

.navsection{
  background-color: #363836;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  width: 100%;
}

.footer{
  background-color: #363836;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  width: 100%;
}

.footermain{
  color: white;
  text-decoration: none;
  font-size: 19px;
  text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.movieimage{
  content-align: center;
  margin-left: 35%;
  margin-top: 3%;
  width: 30%;
}

.movietitle{
  text-align: center;
  content-align: center;
  font-size: 25px;
  font-family: 'Varela Round', sans-serif;
}

.movieyear{
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    font-size: 15px;
}

.details{
  text-align: center;
  text-decoration: none;
  color: #34DED0;
  content-align: center;
  margin-left: 48.5%;
  font-size: 16px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
